@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Fonts */
  --ff-DMS: 'Montserrat', sans-serif;
  --ff-Noto: 'Montserrat', sans-serif;

  /* Colors */
  --primary: #06400e;
  --background: #F6F6F6;
  --text: #303030;
  --detail: #54926a;
  --secondary: #d9d9cc;
}

/*
    Reset
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
time,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: auto;
}

body {
  background-color: var(--background);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible {
  outline-offset: 4px;
}

ion-icon {
  font-size: 64px;
}

h2,
h3 {
  font-family: var(--ff-DMS);
  font-size: clamp(1.5rem, 3vw, 3.5rem);
}

p {
  font-family: var(--ff-Noto);
  font-size: clamp(1.9rem, 2vw, 2rem);

}

.section {
  margin: 0px clamp(2rem, 9vw, 8rem);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

span {
  color: var(--primary);
  white-space: nowrap;
}


/*
HEADER
*/

.container {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  gap: 15em;
}


.presentation {
  display: grid;
  grid-template-columns: 7fr 3fr;
  flex-direction: column;
  gap: 20px;
}

.presentation h2 {
  font-family: var(--ff-Noto);
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: var(--text);
}

.presentation p {
  font-size: clamp(1.9rem, 2vw, 2rem);
  color: var(--text);
  margin-left: 1em;
  margin-top: 10px;
}

.presentation img {
  /* Alinha a imagem na base do grid, junto com o botão */
  width: 100%;
  height: auto;
  max-height: 100%;
  /* Impede que o gráfico fique maior que o texto */
}


.textArea {
  display: flex;
  flex-direction: column;
  height: auto;
  /* agora a altura é só do conteúdo */
  gap: 20px;
  text-align: left;
}

.textArea img {
  align-self: flex-start;

  width: clamp(8rem, 15vw, 10rem);
  height: auto;
}

.imageArea {
  display: flex;
  justify-content: center;
}

.buttonArea {
  display: flex;
  margin-top: auto;
  /* espaçamento normal */
  justify-content: flex-start;
  background-color: var(--detail);
  /* opcional */
  margin-top: 30px;
  justify-self: center;
  align-self: flex-start;
  border-radius: clamp(2rem, 5vw, 5rem);
}

.buttonArea button {
  display: flex;
  font-family: var(--ff-DMS);
  font-weight: 700;
  padding: clamp(1.6rem, 2vw, 2.2rem) 30px;
  color: var(--background);
  width: 100%;
  gap: 15px;
  height: 100%;
  box-shadow: 0px 2px 5px rgba(40, 40, 40, 0.393);
  ;
  font-size: clamp(1.5rem, 2vw, 2rem);
  border-radius: clamp(2rem, 5vw, 5rem);
  transition: all 0.25s ease-in;
}

.buttonArea button:hover {
  background-color: var(--primary);
  box-shadow: 0px 3px 5px rgba(40, 40, 40, 0.616);
  ;
}

.buttonArea ion-icon {
  width: clamp(1.7rem, 2vw, 2rem);
  height: clamp(1.7rem, 2vw, 2rem);
  justify-self: center;
  align-self: center;
}

.services {
  padding: 4rem 2rem;
  display: flex;

  flex-direction: column;
}

.servicesTitle {
  text-align: center;
  margin-bottom: 4rem;
  font-size: clamp(2rem, 4vw, 4rem);
}

.data {
  width: 100%;
  background-color: var(--secondary);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  padding-inline: 70px;
  justify-content: space-around;
}

.data .item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.data .item p {
  font-weight: 500;
  font-size: clamp(1.5rem, 1.3vw, 2.5rem);
  color: var(--text);
}

.data img {
  width: clamp(5rem, 10vw, 8rem);
  align-self: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: var(--background)
}

.strategy {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: clamp(2rem, 5vw, 5rem);
  margin: 0px clamp(16rem, 10vw, 10rem);
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  /* agora a altura é só do conteúdo */
  gap: 10px;
  text-align: left;
  font-family: var(--ff-DMS);
}

.textArea h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: var(--text);
}

.articleGrid {
  display: grid;
  gap: clamp(2rem, 8vw, 5rem);
  grid-template-columns: repeat(2, 1fr);
}

.stItem {
  padding: clamp(1rem, 2vw, 2rem);
  border-radius: clamp(1rem, 1vw, 2rem);
  display: flex;
  flex-direction: column;
  gap: clamp(0.6rem, 1vw, 1.6rem);
  background-color: #f2f2f2;
  transition: all 0.2s ease-in;
}

.stItem:hover {
  background-color: #54926a;
}

.stItem ion-icon {
  width: 30px;
  height: 30px;
  border-radius: clamp(0.5rem, 1.6vw, 2rem);
  background-color: #adceb6;
  padding: 10px;
  transition: all 0.2s ease-in;
}

.stItem:hover h3 {
  color: #f2f2f2;
}


.stItem:hover ion-icon {
  color: #FFF;
  background-color: #81ae8d;
}

.stItem h3 {
  font-weight: 500;
  color: var(--text);
  font-family: var(--ff-DMS);
  font-size: clamp(1.5rem, 1.8vw, 1.8rem);
    transition: all 0.2s ease-in;

}


.strategyDescription {
  margin-left: 10px;
  font-family: var(--ff-Noto);
  font-size: clamp(1.9rem, 2vw, 2rem);
  color: var(--text);
}


.manage {
  width: 100%;
  background-color: #e9e9e9;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  padding-inline: 50px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manage .textArea {
  text-align: center;
  margin-bottom: 50px;
}


.cardGrid {
  display: flex;
  gap: clamp(2rem, 5vw, 5rem);
  margin-bottom: 50px;
}

.cdItem {
  border-bottom: 5px solid;
  border-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: clamp(2rem, 2vw, 4rem);
  transition: all 0.2s ease-in;

}

.cdItem:hover{
    box-shadow: 0px 0px 10px rgba(40, 40, 40, 0.247);
}

.cdItem h3 {
  font-size: clamp(1.7rem, 4vw, 2rem);
}

.cdItem p {
  font-size: clamp(1.5rem, 1.3vw, 1.7rem);
}

.cdItem ion-icon {
  width: 30px;
  height: 30px;
  border-radius: clamp(1rem, 1vw, 2rem);
  background-color: #06400e;
  color: #F6F6F6;
  padding: 10px;
}

.manage .buttonArea {
  justify-self: center;
  align-self: center;
}

/* CDITEMS colors */

.cdItem:nth-of-type(1){
  border-color: hsla(221, 100%, 50%, 0.500);
}

.cdItem:nth-of-type(1) ion-icon{
  background-color: hsl(221, 100%, 50%, 0.500);
}

.cdItem:nth-of-type(2){
  border-color: hsl(55, 100%, 50%, 0.500);
}

.cdItem:nth-of-type(2) ion-icon{
  background-color: hsl(55, 100%, 50%, 0.500);
}

.cdItem:nth-of-type(3){
  border-color: hsl(277, 100%, 50%, 0.500);
}

.cdItem:nth-of-type(3) ion-icon{
  background-color: hsl(277, 100%, 50%, 0.500);
}

.cdItem:nth-of-type(4){
  border-color: hsl(141, 100%, 50%, 0.500);
}

.cdItem:nth-of-type(4) ion-icon{
  background-color: hsl(141, 100%, 50%, 0.500);
}


@media (max-width: 768px) {

  .nav .navItem {
    width: 100%;
  }

  .hero {
    justify-content: center;
  }

  .buttonArea {
    align-self: center;
  }

  .buttonArea button {
    text-align: center;
  }

  .presentation {
    display: flex;
    /* MUITO IMPORTANTE */
    gap: clamp(5rem, 4vw, 2rem);
  }

  .imageArea {
    max-height: 300px;
    margin-top: 20px;
  }

  .imageArea img {
    height: 300px;
    object-fit: contain;

  }

  .textArea img {
    align-self: center;
  }

  .strategy {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  }

  .cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 2. O Lenis recomenda essas classes para evitar bugs de renderização */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}