@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Fonts */
  --ff-DMS: 'Montserrat', sans-serif;
  --ff-Noto: 'Montserrat', sans-serif;

  /* Colors */
  --primary: #06400e;
  --background: #F6F6F6;
  --text: #303030;
  --detail: #54926a;
  --secondary: #d9d9cc;
}

/*
    Reset
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
time,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: auto;
}

body {
  background-color: var(--background);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible {
  outline-offset: 4px;
}

ion-icon {
  font-size: 64px;
}

h2,
h3 {
  font-family: var(--ff-DMS);
  font-size: clamp(1.5rem, 3vw, 3.5rem);
}

p {
  font-family: var(--ff-Noto);
  font-size: clamp(1.9rem, 2vw, 2rem);

}

.section {
  margin: 8rem clamp(2rem, 9vw, 8rem) 8rem clamp(2rem, 9vw, 8rem);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}



/*
HEADER
*/


.presentation {
  display: grid;
  grid-template-columns: 7fr 3fr;
  flex-direction: column;
  gap: 20px;
}

.presentation h2 {
  font-family: var(--ff-Noto);
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: var(--text);
}

.presentation p {
  font-size: clamp(1.9rem, 2vw, 2rem);
  color: var(--text);
  margin-left: 1em;
  margin-top: 10px;
}

.presentation img {
  /* Alinha a imagem na base do grid, junto com o botão */
  width: 100%;
  height: auto;
  max-height: 100%;
  /* Impede que o gráfico fique maior que o texto */
}


.textArea {
  display: flex;
  flex-direction: column;
  height: auto;
  /* agora a altura é só do conteúdo */
  gap: 20px;
  text-align: left;
}

.textArea img {
  align-self: flex-start;

  width: clamp(8rem, 15vw, 10rem);
  height: auto;
}

.imageArea{
  display: flex;
  justify-content: center;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  /* espaçamento normal */
  justify-content: flex-start;
  background-color: var(--primary);
  /* opcional */
  margin-top: 30px;
  justify-self: center;
  align-self: flex-start;
  padding: clamp(0.7rem, 0.8vw, 1.5rem);
  border-radius: clamp(2rem, 5vw, 5rem);
}

.buttonArea button {
  font-family: var(--ff-DMS);
  font-weight: 700;
  padding: clamp(0.7rem, 1vw, 2.5rem);
  color: var(--background);
  width: 100%;
  height: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
}

.services {
  padding: 4rem 2rem;
  display: flex;
  
  flex-direction: column;
}

.servicesTitle {
  text-align: center;
  margin-bottom: 4rem;
  font-size: clamp(2rem, 4vw, 4rem);
}

.data {
  width: 100%;
  background-color: #d9d9cc;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.data .item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.data .item p {
  font-weight: 500;
  font-size: clamp(1.5rem, 1.3vw, 2.5rem);
  color: var(--text);
}

.data img {
  width: clamp(5rem, 10vw, 8rem);
  align-self: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: var(--background)
}

.strategy {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: clamp(2rem, 5vw, 5rem);
  margin: 10rem clamp(2rem, 9vw, 8rem) 4rem clamp(2rem, 9vw, 8rem);
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  /* agora a altura é só do conteúdo */
  gap: 10px;
  text-align: left;
  font-family: var(--ff-DMS);
}

.textArea h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: var(--text);
}

.articleGrid {
  display: grid;
  gap: clamp(2rem, 8vw, 5rem);
  grid-template-columns: repeat(2, 1fr);
}

.stItem .img {
  width: clamp(3rem, 10vw, 6rem);

  height: auto;
  border-radius: clamp(2rem, 3vw, 2rem);
  background-color: var(--background);
  padding: clamp(0.5rem, 2vw, 1rem);
}

.stItem {
  padding: clamp(1rem, 2vw, 2rem);
  border-radius: clamp(1rem, 1vw, 2rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 2rem);
  background-color: #f3f3f3;
}

.stItem img {
  width: 100%;
  height: auto;

}

.strategyDescription {
  margin-left: 10px;
  font-family: var(--ff-Noto);
  font-size: clamp(1.9rem, 2vw, 2rem);
  color: var(--text);
}

.stItem h3 {
  font-weight: 500;
  color: var(--text);
  font-family: var(--ff-DMS);
  font-size: clamp(1.6rem, 2vw, 2rem);
}



@media (max-width: 768px) {

  .nav .navItem {
    width: 100%;
  }

  .hero {
    justify-content: center;
  }

  .buttonArea {
    align-self: center;
  }

  .buttonArea button {
    text-align: center;
  }

  .presentation {
    display: flex;
    /* MUITO IMPORTANTE */
    gap: clamp(5rem, 4vw, 2rem);
  }

  .imageArea {
    max-height: 300px;
    margin-top: 20px;
  }

  .imageArea img {
    height: 300px;
    object-fit: contain;

  }

  .textArea img {
    align-self: center;
  }

  .strategy {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  }
}

/* 2. O Lenis recomenda essas classes para evitar bugs de renderização */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}