@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Fonts */
  --ff-DMS: 'DM Sans', sans-serif;
  --ff-Noto: 'Noto Serif', serif;

  /* Colors */
  --primary: #539067;
  --background: #F6F6F6;
  --text: #272727;
  --detail: #6F8476;
  --secondary: #6B6B6B;
}

/*
    Reset
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
time,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible {
  outline-offset: 4px;
}

ion-icon {
  font-size: 64px;
}

h1,
h2,
h3 {
  font-family: var(--ff-DMS);
  font-size: clamp(1.5rem, 3vw, 3.5rem);
}

p {
  font-family: var(--ff-Noto);
  font-size: clamp(1rem, 2vw, 2.5rem);

}

.section {
  margin: 16rem 2rem 4rem 2rem;
}

/*
HEADER
*/

.header {
  width: 100%;
  padding: 1.5rem 2rem;

  display: flex;
  justify-content: space-between;

  position: fixed;
}

header .logo {
  background-color: var(--primary);
  width: 150px;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

header .logo img {
  width: 60px;
}

.nav {
  display: flex;
  gap: 20px;
  background-color: var(--primary);
  height: 50px;
  padding-inline: 20px;
  align-items: center;
  justify-content: space-between;
}

.nav .navItem {
  font-family: var(--ff-DMS);
  color: var(--background);
  width: 40%;
  font: 1em sans-serif;
  font-weight: 500;
  text-align: center;
}

.nav:last-child {
  border-radius: 20px 5px 20px 5px;
}

.hero {
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: baseline;
  align-items: center;
  padding: 0 2rem;
  gap: clamp(1rem, 4vw, 4rem);
}



.heroCard {
  background-color: #539067;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  flex-direction: column;
  gap: clamp(0.5rem, 2vw, 2rem);
}

.heroCard h1 {
  font-family: var(--ff-DMS);
  font-weight: 600;
  color: var(--background);
}


.presentation {
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: stretch;
  /* MUITO IMPORTANTE */
  gap: clamp(0.5rem, 2vw, 2rem);
}

.presentation img {
align-self: flex-end; /* Alinha a imagem na base do grid, junto com o botão */
  width: 100%;
  height: auto;
  max-height: 100%; /* Impede que o gráfico fique maior que o texto */
  object-fit: contain;
  object-position: bottom;
  margin-top: 20px;
}

.buttonArea p {
  display: none;
}

.textArea {
  display: flex;
  flex-direction: column;
  height: auto;
  /* agora a altura é só do conteúdo */
  gap: 10px;
}

.buttonArea {
  margin-top: auto;
  /* espaçamento normal */
  background-color: #539067;
  align-self: flex-start;
  /* opcional */
  width: 100%;
  border-radius: 1rem;
}

.buttonArea button {
  font-family: var(--ff-DMS);
  font-weight: 700;
  padding: clamp(0.7rem, 1.5vw, 2.5rem) 20px;
  color: var(--background);
  width: 100%;
  text-align: left;
  font-size: clamp(1rem, 2vw, 3rem);
}

.services {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.servicesTitle {
  text-align: center;
  margin-bottom: 4rem;
  font-size: clamp(2rem, 4vw, 4rem);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: auto;
    padding-block: 2rem;
  }

  .nav .navItem {
    width: 100%;
  }

  .hero {
    justify-content: center;
  }

  /* .presentation {
    grid-template-columns: 1fr;
  } */

  
  .buttonArea button{
    /* No mobile, alinhamos o botão para ocupar a largura toda 
       ou centralizar, conforme seu gosto */
    align-self: stretch;
  }

}